<app-triangular-banner imgSrc="../../assets/img/home/view2.webp" headerText="Ethan Briffett - Software Developer"></app-triangular-banner>

<div class="container" style="max-width: 80%;">
    <h1 class="thinHeader m-4">About <span class="colorBlue">Me</span></h1>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <div class="m-4" style="width: 50%;">
            <p class="descriptionParagraph">
                Who am I? I am a computer enthusiast and software developer who will soon
                be pursuing a Bachelor's of Computer Science at Concordia University.
            </p>

            <p class="descriptionParagraph">
                I am interested in a multitude of aspects within the field, such as app design,
                databases, and web development. My aim is to improve the lives of the users I program for!
            </p>
        </div>

        <div class="m-4" style="width: 50%;">
            <!--https://www.pexels.com/photo/abstract-business-code-coder-270348/-->
            <app-parallax bgImg="url(../../../assets/img/home/code.webp)" height="200px"></app-parallax>
        </div>

        <div style="margin-top: 1000px"></div>

    </div>
</div>