<div class="shadow" style="background-color: rgb(40,40,40); width: 450px; height: 310px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <a [routerLink]="href">
        <div class="zoom" [style]='"background-image: url("+imgSrc+");"' style="background-repeat: no-repeat; background-size: contain; width: 400px; height: 225px;">
            
        </div>
    </a>

    <h2 class="colorBlue thinHeader mt-2" style="background-color: transparent;">{{text}}</h2>
</div>