<app-triangular-banner headerText="My Projects" imgSrc="../../../assets/img/projects/project-code.webp"></app-triangular-banner>

<div class="container" style="max-width: 80%;">
    <h1 class="thinHeader">Sites & Web Apps</h1>




    <h1 class="thinHeader">Apps</h1>

    <h1 class="thinHeader">Video Games</h1>

    <div class="shadow" style="background-color: rgb(40,40,40); width: 450px; height: 300px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <a routerLink="/">
            <div class="zoom" style="background-image: url('../../../assets/img/projects/wavedodger.webp'); background-repeat: no-repeat; background-size: contain; width: 400px; height: 225px;">
                
            </div>
        </a>

        <h2 class="colorBlue thinHeader mt-2" style="background-color: transparent;">WaveDodger</h2>
    </div>

    <div class="m-5"></div>
</div>