<app-triangular-banner headerText="{{'projects.bannerText' | translate}}" imgSrc="../../../assets/img/projects/project-code.webp"></app-triangular-banner>

<div class="container projectsContainer">
    <h1 class="thinHeader" style="margin-bottom: 50px;">{{'projects.mainHeader' | translate}}</h1>

    <h2 class="thinHeader">{{'projects.sitesHeader' | translate}}</h2>

    <div class="row projectsSection" style="width: 100% !important;">
        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/moneroocean-custom-ui" imgSrc='../../../assets/img/projects/moneroocean-customui.webp' text="{{'projects.moneroOceanCustomUi.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>
        
        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/elliptikeys" imgSrc='../../../assets/img/projects/elliptikeys.webp' text="{{'projects.elliptiKeys.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/hella-good-pizza-site" imgSrc='../../../assets/img/projects/hgpizza.webp' text="{{'projects.hellaGoodPizza.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" href="https://meadewillis.com/" imgSrc='../../../assets/img/projects/mwlp.webp' text="{{'projects.meadeWillisSite.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/bitcoin-clock" imgSrc='../../../assets/img/projects/bitcoin-clock.webp' text="{{'projects.bitcoinClock.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/covid-simulator" imgSrc='../../../assets/img/projects/covid-simulator.webp' text="{{'projects.covidSimulator.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" href="https://zachgmedia.com/" imgSrc='../../../assets/img/projects/zgmedia.webp' text="{{'projects.zgEdits.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/employee-management-system" imgSrc="../../../assets/img/projects/employee-management-system.webp" text="{{'projects.employeeManagementSystem.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>
    </div>



    <h2 class="thinHeader" style="margin-top: 50px;">{{'projects.appsHeader' | translate}}</h2>

    <div class="row projectsSection" style="width: 100%">
        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/tnnf-budgetviewer" imgSrc='../../../assets/img/projects/tnnfbudget.webp' text="{{'projects.tnnfBudgetViewer.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/xvb-gui" imgSrc='../../../assets/img/projects/xvb-gui.webp' text="{{'projects.xvbGui.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/tnnfcontainers-iot-system" imgSrc='../../../assets/img/projects/tnnfcontainers.webp' text="{{'projects.tnnfContainers.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>
    </div>
    

    <h2 class="thinHeader" style="margin-top: 50px;">{{'projects.videoGamesHeader' | translate}}</h2>

    <div class="row projectsSection" style="width: 100% !important;">
        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/wavedodger" imgSrc='../../../assets/img/projects/wavedodger.webp' text="{{'projects.waveDodger.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/wavedodger2" imgSrc='../../../assets/img/projects/wavedodger2.webp' text="{{'projects.waveDodger2.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/slimedodger" imgSrc='../../../assets/img/projects/slimedodger.webp' text="{{'projects.slimeDodger.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>    

        <div class="col">
            <app-zoom-card-link class="col" routerLink="/projects/video-poker" imgSrc='../../../assets/img/projects/video-poker.webp' text="{{'projects.videoPoker.projectsPageHeader' | translate }}"></app-zoom-card-link>
        </div>    
    </div>

    <div class="m-5"></div>
</div>