<app-triangular-banner headerText="My Projects" imgSrc="../../../assets/img/projects/project-code.webp"></app-triangular-banner>

<div class="container" style="max-width: 80%;">
    <h1 class="thinHeader" style="margin-bottom: 50px;">Here are some of the projects I've worked on!</h1>

    <h2 class="thinHeader">Sites & Web Apps</h2>

    <div class="row" style="width: 100% !important;">
        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/moneroocean-customui.webp' text="MoneroOcean Custom UI"></app-zoom-card-link>
        </div>
        
        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/elliptikeys.webp' text="ElliptiKeys"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/hgpizza.webp' text="Hella Good Pizza Site"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/mwlp.webp' text="Intern Project - Meade Willis Site"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/large-hashron-collider.webp' text="Large Hashron Collider"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/bitcoin-clock.webp' text="Bitcoin Clock"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/covid-simulator.webp' text="COVID-19 Simulator"></app-zoom-card-link>
        </div>
    </div>



    <h2 class="thinHeader" style="margin-top: 50px;">Apps</h2>

    <div class="row" style="width: 100% !important;">
        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/tnnfbudget.webp' text="TNNF BudgetViewer"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/xvb-gui.webp' text="XvB_GUI"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/tnnfcontainers.webp' text="TNNFContainers IoT System"></app-zoom-card-link>
        </div>
    </div>
    

    <h2 class="thinHeader" style="margin-top: 50px;">Video Games</h2>

    <div class="row" style="width: 100% !important;">
        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/wavedodger.webp' text="WaveDodger"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/wavedodger2.webp' text="WaveDodger II"></app-zoom-card-link>
        </div>

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/slimedodger.webp' text="WaveDodger III - SlimeDodger"></app-zoom-card-link>
        </div>    

        <div class="col">
            <app-zoom-card-link class="col" routerLink="#" imgSrc='../../../assets/img/projects/video-poker.webp' text="Video Poker"></app-zoom-card-link>
        </div>    
    </div>

    <div class="m-5"></div>
</div>