.banner
{
    height: 500px;
    position: relative;
    width: 100%;
}

.banner img
{
    width: 100%;
}

h1
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.content
{
    height: 100px;
    padding-top: 130px;
    position: relative;
    text-align: center;
    width: 100%;
}

.content:before
{
    position: absolute;
    content: '';
    width: 60%;
    height: 160px;
    top: -50px;
    left: 0;
    transform: skewY(7deg);
    background-color: rgb(20,20,20);;
}

.content::after
{
    position: absolute;
    content: '';
    width: 60%;
    height: 160px;
    top: -50px;
    right: 0;
    transform: skewY(-7deg);
    background-color: rgb(20,20,20);;
}

@media screen and (max-width: 760px)
{
    .bannerOuter
    {
        max-height: 300px !important;
    }

    .banner
    {
        height: 300px;
    }
}