/*CSS reset*/
*
{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Helvetica;
    box-sizing: border-box;
    font-size: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

main
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.halvingTimers, .estimatedHalvingDateContainer
{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.halvingTimers div
{
    height: 100px;
}


.pricesContainer
{
    margin-top: 100px;
    max-width: 70%;
}

.blocksContainer, .pricesContainer, .blockRewardsContainer
{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.blockchainHeightContainer, .blocksTillHalvingContainer
{
    max-width: 80%;
}

.etaHeader
{
    margin-top: 100px;
}

.estimatedHalvingDateContainer
{
    max-width: 70%;
}

.blockchainHeight, .blocksTillHalving, .etaDisplay, .price, .priceChange, .currentBlockReward, .blockRewardAfterHalving
{
    height: 120px;
}

.priceChangeContainerInner
{
    display: flex;
    align-items: center;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1000px) 
{

    .halvingTimerContainer
    {
        margin-right: 25px;
        margin-left: 25px;
    }

    .estimatedHalvingDateContainer
    {
        max-width: 90%;
    }
    .etaContainer
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .halvingTimers div
    {
        height: 47px;
    }

    .blocksContainer, .pricesContainer, .blockRewardsContainer
    {
        flex-direction: column;
    }

    .blockRewardsContainer
    {
        max-width: 50%;
    }

    .blockRewardAfterHalvingContainer
    {
        margin-top: 20px;
    }

    .blockchainHeightContainer
    {
        margin-top: 100px;
    }

    .priceChangeContainer
    {
        margin-top: 100px;
    }
}